<div id="<%= dom_id organization_profile %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Organization:</strong>
    <%= organization_profile.organization_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= organization_profile.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= organization_profile.description %>
  </p>

</div>
