<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Job postings" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Job postings</h1>
    <%= link_to "New job posting", new_job_posting_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="job_postings" class="min-w-full">
    <% @job_postings.each do |job_posting| %>
      <%= render job_posting %>
      <p>
        <%= link_to "Show this job posting", job_posting, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
